/* Пример стилей */
body {
  background: #dbe9f4;
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid teal;
  background: transparent;
  margin: 1rem 0;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c9d7e0;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 6px;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 0.8rem; 
}


.task.done .task-text {
  text-decoration: line-through;
  color: gray;
}

.task span:first-child {
  cursor: pointer;
  margin-right: 1rem;
}

button {
  background: transparent;
  border: none;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}
